/* You can add global styles to this file, and also import other style files */
$blanco: #fff;
$negro: #000000;
$landing: #211C24;
$leftLanding: #353535;
$right_category_Landing: #EDEDED;
$subtitleLanding: #909090;
$categoryBG: #FAFAFA;
$cardMain: #F6F6F6;




